*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
/*Login and Registration Forms*/
.landing {
    min-height: 30vh;
}

.form {
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 50%;
}

.firstHeading {
    text-align: center;
}

.username, .email, .password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*New ways to do things*/
.section1 {
    min-height: 10vh;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}


.section2 {
    min-height: 80vh;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}

.section3 {
    min-height: 70vh;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    position: relative;
    top: 90px;
}

.header {
    font-size: 50px;
    position: relative;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.block {
    width: 100%;
    min-height: 30vh;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    overflow: hidden;
    background-color:#F4EBD0;
    
}

.block-content-img {
    width: 50%;
    float: left;
    padding: 20px;
    
    height: 680px;
    width: 550px;
}
.block-content-text {
    width: 50%;
    float: left;
    padding: 20px;
    padding-left: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
}


.jho {
    font-size: 50px;
}

.heck {
    font-size: 35px;
    font-style: italic;
}

.blam {
    font-size: 30px;
    font-style: bold;
}

.jho, .heck, .blam {
    padding-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.ha {
    background-color: black; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.block2 {
    width: 100%;
    min-height: 30vh;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.chapter-content {
    letter-spacing: 3px;
    line-height: 1.8;
    border-bottom: solid;
    padding-bottom: 30px;
}

.chapter-header {
    padding-bottom: 30px;
    border-top: solid;
    padding-top: 15px;
}

.block3 {
    width: 100%;
    min-height: 20vh;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

h3 {
    text-transform: uppercase;
    font-weight: 500;
}

.rating {
    width: 180px;
}

.fa-solid.fa-star {
    cursor: pointer;
    color: #dabd18b2;
}

.block4 {
    width: 100%;
    min-height: 30vh;
    padding-left: 15%;
    padding-right: 15%;
}
/* <-- HOME PAGE ASPECTS --> */
#intro {
    color: blue;
    position: relative;
    top: 70px;
}

.page-status {
    color: #4CAF50;
    text-decoration: solid;
    font-size: 25px;
    font-family: Georgia, sans-serif;
}

.open {
    width: 100%;
    min-height: 50vh;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    overflow: hidden;
}
.bang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.done {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.done::after { /* The header on the side*/
    content: '';
    width: 10px;
    height: 57%;
    background: #4CAF50;
    position: absolute;
    left: -40px;
    top: 45px;
}
 .done2 {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
 }

.book {
    position: relative;
    top: -40px;
}

.done2, .book {
     width: 60%;
 }

.head1 {
    font-size: 54px;
}

.head2 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}

.para1 {
    font-size: 16px;
    color: #4CAF50;
    font-weight: 100;
}
.head1, .head2, .para1 {
    position: relative;
    top: 40px;
}
/*Genre Nav menu */
nav {
    width: 60vw;
    min-width: 600px ;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
/*Links in all nav-bars*/
a.genre {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a.genre::after {
    content: "";
    position:absolute;
    background-color: #4CAF50;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a.genre:hover:after {
    width: 100%;
}
/*Ends here*/

body {
    overflow-x: hidden; /*GETS RID OF HORIZONTAL SCROLL BAR*/
}
/*New ways to do things end here*/
/* Navigation Menu */
.menu {
    background: #24262b;
    text-align: center;
    
}

.menu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu ul li {
    width: 140px;
    margin: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* <-- END OF NAVIGATION --> */

/* <-- FOOTER --> */
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.container {
    max-width: 1170px;
    margin: auto;
    min-height: 30vh;
}
.list {
    list-style: none;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #4CAF50;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col .list li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col .list li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #a0a0a0;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .list li a:hover {
    color: #ffffff;
    padding-left: 10px;
}

/* <-- MAIN HEADING --> */

#heading {
    position: relative;
    top: 60px;
    left: 40px;
    width: 90%;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    border:5px solid black;
    border-color: #000000;
    font-family: Georgia, sans-serif;
    
}
/* <-- END OF MAIN HEADING --> */

/* <-- SEARCHBAR --> */
.search-bar {
    position: relative;
    left: 50%;
}

.search-wrap {
    position: relative;
    top:70px;
    left: 70%;
}
.search-wrapper {
    position: relative;
    top: 60px;
}

.input-bar{
    border-radius: 5px;
    flex: 1;
    outline: none;
    font-size: 20px;
    background: transparent;
    color: #cac7ff;
}
/* <-- TABLE --> */
.table {
    position: relative;
    top: 70px;
    left: 300px;
    width: 70%;
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
}
td a {
    text-decoration: none;
    color: black;
}
#trhead {
    background-color: black;
    color: white;
}

#tr:hover {
    background-color: rgb(96, 236, 96);
}
/* <-- BOOK PREVIEW --> */


/* <-- BUTTONS --> */

.btn {
    background-color: black; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
     
}

/* <-- BOOK LAYOUT --> */
.catRow::after {
    content: "";
    clear: both;
    display: table;
 }
 
 .catColumn {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
    top: 90px;
 }
.catColumn img {
    height: auto;
    width: 100%;
}
.catRow {
    padding-left: 15%;
    padding-right: 15%;
}
.column {
    float: left;
    width: 20%;
    margin: 50px;
    position: relative;
    top: 60px;
    left:200px;
    border: 1px solid;
    border-radius: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.image-heading {
    text-align: center;
    
}

.image-paragrapgh {
    text-align: center;
}

.hero {
    min-height: 50vh;
}
/* <-- LINKS FOR BOOK TITLE --> */
.bLink {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: #000000;
}

.bLink:hover {
    color: #4CAF50;
}