.footer
    .container 
        .footer-row 
            .footer-col 
                h4 Something 1
                ul.list 
                    li
                        a(href="#") Baby Something 
                    li
                        a(href="#") Baby Something
                    li
                        a(href="#") Baby Something
            .footer-col 
                h4 Something 2
                ul.list 
                    li
                        a(href="#") Baby Something 2
                    li
                        a(href="#") Baby Something 2
                    li
                        a(href="#") Baby Something 2
            .footer-col 
                h4 Something 3
                ul.list 
                    li
                        a(href="#") Baby Something 3
                    li
                        a(href="#") Baby Something 3
                    li
                        a(href="#") Baby Something 3 